* {
  margin: 0;
  list-style: none;
  text-decoration: none;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato/9622.ttf");
}

@font-face {
  font-family: 'Libre Caslon Text';
  src: url("../fonts/Libre/LibreCaslonText-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

.btnLink {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 62px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  outline-style: none;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 65px;
}

.btnLink:hover {
  background: #ffffff;
  color: #293D62;
}

.reverseBtnLink {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 62px;
  text-transform: uppercase;
  color: #293D62;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  outline-style: none;
  border: 1px solid #293D62;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 65px;
  background: #FFFFFF;
}

.reverseBtnLink:hover {
  background: #293D62;
  color: #FFFFFF;
}

.header .effectHeader {
  background: url("../images/headerbg.jpg") no-repeat center center/cover;
}

.header_texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.34);
}

.header_texts .headerTextsBlock {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 90px;
}

.header_texts .header_title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 77px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 771px;
}

.header_texts .header_text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
  width: 585px;
  margin: 16px 0 56px 0;
}

.header_texts .header_link {
  padding-left: 34px;
  padding-right: 35px;
}

.topmenu {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.menu {
  width: 100%;
  min-height: 10px;
  background: transparent;
  padding: 17px 0 18px 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.menu.setdown {
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 28px 0px #00000026;
  box-shadow: 0px 4px 28px 0px #00000026;
}

.menu_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu_navbar .logo img {
  width: 168px;
}

.menu_navbar .logo .bluelogo {
  display: none;
}

.menu_navbar .menu_btn_bars {
  background: none;
  outline-style: none !important;
  border: none;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: none;
  z-index: 2000;
  padding: 0;
}

.menu_navbar .menu_btn_bars .fa {
  color: #fa7c30;
}

.menu_navbar .menu_btn_close {
  background: none;
  outline-style: none !important;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: none;
  z-index: 2000;
  padding: 0;
}

.menu_navbar .menu_btn_close .fa {
  color: #fa7c30;
}

.menu_navbar .menu_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menu_navbar .menu_ul .main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
  width: 100%;
}

.menu_navbar .menu_ul .main_menu .menu_li {
  position: relative;
  padding: 14px 0;
  margin-right: 16px;
  margin-left: 16px;
}

.menu_navbar .menu_ul .main_menu .menu_li a {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.menu_navbar .menu_ul .main_menu .menu_li a.setdown {
  color: #293D62;
}

.menu_navbar .menu_ul .main_menu .menu_li a:hover {
  font-weight: bold;
}

.menu_navbar .headerPhoneBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 274px;
}

.menu_navbar .headerPhoneBlock img {
  margin-right: 15px;
}

.menu_navbar .headerPhoneBlock .bluephone {
  display: none;
}

.menu_navbar .headerPhoneBlock p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.menu_navbar .headerPhoneBlock p.setdown {
  color: #293D62;
}

.mainTitle {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #293D62;
}

main {
  padding: 172px 0;
}

main .reasonBlock {
  margin-top: 65px;
}

main .reasonItem {
  background: #FFFEFE;
  -webkit-box-shadow: 0px 4px 40px rgba(218, 213, 213, 0.49);
  box-shadow: 0px 4px 40px rgba(218, 213, 213, 0.49);
  border-radius: 6px;
  width: 203px;
  height: 200px;
  padding: 20px 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

main .reasonItem:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

main .reasonItem:hover p {
  color: #293d6299;
}

main .reasonItem p {
  margin-top: 30px;
  text-align: center;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #293D62;
}

section.one {
  padding: 164px 0 177px 0;
  background: #F6F8F9;
}

section.one img {
  width: 100%;
}

section.one .leftOne .swiper-slide {
  position: relative;
  padding: 58px 0;
}

section.one .leftOne .numberSlide {
  position: absolute;
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 118px;
  line-height: 27px;
  color: rgba(10, 30, 0, 0.08);
  left: 135px;
}

section.one .leftOne .slideTitle {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 62px;
  color: #293D62;
}

section.one .leftOne .pluses .plusItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.one .leftOne .pluses .plusItem p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  color: #293D62;
}

section.one .leftOne .pluses .plusItem img {
  width: 12.33px;
  height: 12.08px;
  margin-right: 17px;
}

section.one .leftOne .minuses {
  margin-top: 53px;
}

section.one .leftOne .minuses .minusItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.one .leftOne .minuses .minusItem p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
  color: #293D62;
}

section.one .leftOne .minuses .minusItem img {
  width: 12.33px;
  height: 12.08px;
  margin-right: 17px;
}

section.one .leftOne .assetsSlider .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.one .leftOne .assetsSlider .navigation a {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #293D62;
}

section.one .leftOne .assetsSlider .navigation a:hover {
  color: #293d6299;
}

section.one .leftOne .assetsSlider .navigation .buttonsNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 68px;
}

section.one .leftOne .assetsSlider .navigation .buttonsNav div {
  position: relative;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  border: 2px solid #293D62;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin: 0 0 0 8px;
}

section.one .leftOne .assetsSlider .navigation .buttonsNav div img {
  width: 21px;
}

section.one .leftOne .assetsSlider .navigation .buttonsNav div:after {
  content: '';
}

section.one .leftOne .assetsSlider .swiper-scrollbar {
  height: 7px;
  background: #DCDCDC !important;
  border-radius: 3px;
}

section.one .leftOne .assetsSlider .swiper-scrollbar-drag {
  background: #293D62 !important;
}

section.one .leftOne .assetsSlider .addressPages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}

section.one .leftOne .assetsSlider .addressPages .swiper-pagination {
  position: relative;
  bottom: 0;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #293D62;
  width: 45px;
}

section.one .leftOne .assetsSlider .addressPages .swiper-pagination .swiper-pagination-current {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #293D62;
}

section.one .leftOne .assetsSlider .addressPages .append-buttons a {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 62px;
  color: #293D62;
  border: 1px solid #1F4459;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 44px;
  padding: 15px 13px 15px 12px;
  margin-left: 19px;
}

section.one .leftOne .assetsSlider .addressPages .append-buttons a:hover {
  color: #FFFFFF;
  background: #293D62;
}

section.two {
  padding: 172px 0;
}

section.two .mainTitle {
  margin-bottom: 66px;
}

section.two .serviceBlock {
  margin-bottom: 65px;
}

section.two .serviceBlock .serviceItem {
  padding: 39px 71px 60px 56px;
  background: #FFFFFF;
  border: 5px solid #FFFEFE;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: -1px 4px 40px rgba(218, 213, 213, 0.49);
  box-shadow: -1px 4px 40px rgba(218, 213, 213, 0.49);
  border-radius: 10px;
  width: 100%;
  height: 528px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

section.two .serviceBlock .serviceItem .serviceImg {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 20px;
}

section.two .serviceBlock .serviceItem img {
  -ms-flex-item-align: center;
  align-self: center;
  width: 400px;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

section.two .serviceBlock .serviceItem .rotateImg {
  width: 400px;
  height: 228px;
  -webkit-transform: rotate(15.17deg);
  -ms-transform: rotate(15.17deg);
  transform: rotate(15.17deg);
  margin-top: 50px;
}

section.two .serviceBlock .serviceItem .rotateImg2 {
  width: 300px;
  height: 235px;
  -webkit-transform: rotate(-34.59deg);
  -ms-transform: rotate(-34.59deg);
  transform: rotate(-34.59deg);
  margin-bottom: -53px;
}

section.two .serviceBlock .serviceItem .serviceTitle {
  margin: 0px 0 41px 0;
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #293D62;
}

section.two .serviceBlock .serviceItem p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  color: #293D62;
}

section.three {
  padding: 0 0 172px 0;
}

section.three .addBlock {
  margin-bottom: 65px;
}

section.three .mainTitle {
  margin-bottom: 65px;
}

section.three .addItem {
  background: #F6F8F9;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 41px 20px 55px;
  width: 100%;
  height: 100%;
}

section.three .addItem img {
  -ms-flex-item-align: center;
  align-self: center;
  margin: 45px 0;
  width: 166px;
  height: 96px;
}

section.three .addItem .addTitle {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  color: #293D62;
  margin-bottom: 24px;
}

section.three .addItem p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #293D62;
}

section.four {
  padding: 0 0 107px 0;
}

section.four .mainTitle {
  margin-bottom: 53px;
}

section.four .portList {
  margin-bottom: 65px;
}

section.four .portList .portItem {
  width: 325px;
  height: 377px;
  overflow: hidden;
}

section.four .portList .portItem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

section.four .portList .portItem:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

section.four .buttonFour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 121px;
}

section.four .buttonFour a {
  padding-left: 44px;
  padding-right: 44px;
}

section.five {
  padding: 0 0 169px 0;
  position: relative;
}

section.five .mainTitle {
  margin-bottom: 64px;
}

section.five .levelsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section.five .levelsBlock .levelItem {
  width: calc(100%/6.66);
  background: #F6F8F9;
  border-radius: 3px;
  position: relative;
  padding: 49px 27px 19px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section.five .levelsBlock .levelItem .bigLevelNumber {
  top: 39px;
  right: 27px;
  position: absolute;
  font-family: Libre Caslon Text;
  font-style: normal;
  font-weight: bold;
  font-size: 74.1818px;
  line-height: 15px;
  color: #1F4459;
}

section.five .levelsBlock .levelItem .lvlEffect {
  position: absolute;
  top: -46px;
  right: -148px;
}

section.five .levelsBlock .levelItem p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}

section.five .levelsBlock .levelItem .lvlIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10px;
  position: relative;
}

section.five .levelsBlock .levelItem .lvlIcon:after {
  content: '';
  height: 288px;
  position: absolute;
  width: 71px;
  background: url(../images/level.svg) no-repeat center center/cover;
  top: -175px;
  right: -67px;
}

section.six {
  padding: 0 0 172px 0;
}

section.six .formBlock {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.21);
}

section.six .leftForm {
  width: 749px;
  padding: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 52.333333%;
  flex: 0 0 52.333333%;
}

section.six .mainTitle {
  margin-bottom: 65px;
}

section.six form {
  padding: 101px 107px 43px 57px;
}

section.six form .formTitle {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #293D62;
  margin-bottom: 60px;
}

section.six form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section.six form .inputs input {
  border: 1px solid rgba(184, 184, 184, 0.8);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 5px 17px 28px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #293D62;
  outline-style: none;
  width: 284px;
}

section.six form textarea {
  border: 1px solid rgba(184, 184, 184, 0.8);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #293D62;
  width: 100%;
  outline-style: none;
  resize: none;
  margin: 34px 0 12px 0;
  padding: 20px 20px 20px 28px;
}

section.six form .agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

section.six form .agreement input {
  cursor: pointer;
  margin-right: 11px;
  width: 18px;
  height: 18px;
}

section.six form .agreement p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
  color: #293D62;
}

section.six form .formButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 63px;
}

section.six form .formButton button {
  padding-left: 28px;
  padding-right: 27px;
}

section.six .rigthForm {
  padding: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 47.666667%;
  flex: 0 0 47.666667%;
  max-width: 47.666667%;
}

section.six .rigthForm img {
  width: 100%;
  -webkit-filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.21));
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.21));
  height: 100%;
}

.formWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  background: #00000099;
  z-index: 999;
  display: none;
}

.formWrapper .form {
  background: #F7FAFD;
  border-radius: 3px;
  padding: 58px 29px 30px 31px;
  width: 451px;
}

.formWrapper .form form {
  position: relative;
  width: 100%;
  height: 100%;
}

.formWrapper .form form .formClose {
  position: absolute;
  top: -26px;
  right: 3px;
  background: none;
  outline-style: none !important;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 2000;
  padding: 0;
}

.formWrapper .form form .formClose .fa {
  color: #fa7c30;
}

.formWrapper .form form .formTitle {
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  color: #000000;
}

.formWrapper .form form .agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 19px 0 27px 0;
}

.formWrapper .form form .agreement svg {
  margin-right: 8px;
  width: 33px;
  margin-top: 5px;
}

.formWrapper .form form .agreement .check {
  position: absolute;
  left: -3px;
}

.formWrapper .form form .agreement p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #000000;
}

.formWrapper .form form input {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 17px 28px 19px 28px;
  outline-style: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 163%;
  color: #293D62;
  margin-bottom: 23px;
}

.formWrapper .form form textarea {
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 15px 29px 21px 28px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 163%;
  color: #293D62;
  resize: none;
  width: 100%;
  outline-style: none;
}

.formWrapper .form form .success {
  margin: 24px 0 15px 0;
}

.formWrapper .form form .success p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  text-align: center;
  color: #000000;
}

.formWrapper .form form .formBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.formWrapper .form form .formBtn button {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
  padding: 15px 30px;
  background: #293D62;
  -webkit-box-shadow: 0px 4px 30px rgba(218, 213, 213, 0.49);
  box-shadow: 0px 4px 30px rgba(218, 213, 213, 0.49);
  border-radius: 44px;
}

.formWrapper .form form .formBtn button:hover {
  background: transparent;
  border: 2px solid #293D62;
  color: #293D62;
  cursor: pointer;
}

footer .footerMain {
  border-top: 2px solid rgba(159, 159, 159, 0.31);
  padding: 34px 0 30px 0;
}

footer .footerMain .footerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .footerMain .footerRight .footerAddress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 350px;
}

footer .footerMain .footerRight .footerAddress img {
  margin-right: 19px;
}

footer .footerMain .footerRight .footerAddress p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #293D62;
}

footer .footerMain .footerRight .footerContacts .phone,
footer .footerMain .footerRight .footerContacts .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer .footerMain .footerRight .footerContacts .phone p,
footer .footerMain .footerRight .footerContacts .mail p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #293D62;
}

footer .footerMain .footerRight .footerContacts .phone {
  margin-bottom: 24px;
}

footer .footerMain .footerRight .footerContacts .phone img {
  margin-right: 13px;
}

footer .footerMain .footerRight .footerContacts .mail img {
  margin-right: 14px;
}

footer .footerest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0 30px 0;
}

footer .footerest .leftFooterest, footer .footerest .rightFooterest {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #293D62;
}

.slideBlock{
  display: flex;
  justify-content: space-between;
}

.rightSlide{
  display: flex;
  justify-content: center;
}

.rightSlide img{
  width: 75% !important;
}

.leftSlide{
  padding-left: 10px;
}


@media screen and (max-width: 1480px) {
  section.five .levelsBlock {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  section.five .levelsBlock .levelItem {
    margin-right: 69px;
  }
}

@media screen and (max-width: 1413px) {
  section.five .levelsBlock .levelItem {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 1400px) {
  section.four .portList .portItem {
    width: 100%;
  }

  .formWrapper .form {
    padding: 23px 29px 10px 31px;
  }

  .formWrapper .form form .formClose {
    top: -4px;
  }

  .formWrapper .form form .agreement {
    margin: 9px 0 17px 0;
  }

  .formWrapper .form form input {
    margin-bottom: 13px;
  }

  .formWrapper .form form textarea {
    height: 100px;
  }

  .formWrapper .form form .success {
    margin: 14px 0 5px 0;
  }
}

@media screen and (max-width: 1399px) {
  section.six .leftForm {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }

  section.six .rigthForm {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
}

@media screen and (max-width: 1350px) {
  .menu_navbar .menu_ul .main_menu .menu_li a {
    font-size: 14px;
  }

  .menu_navbar .headerPhoneBlock p {
    font-size: 14px;
  }

  section.five .levelsBlock {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  section.five .levelsBlock .levelItem {
    width: calc(100%/2.5);
  }

  section.five .levelsBlock .levelItem .lvlIcon:after {
    height: 235px;
    width: 71px;
    top: -133px;
  }
}

@media screen and (max-width: 1348px) {
  section.one .leftOne .assetsSlider .addressPages .append-buttons a {
    margin-left: 2px;
  }
}

@media screen and (max-width: 1300px) {
  main .reasonItem {
    width: 100%;
  }

  section.two .serviceBlock .serviceItem {
    height: 100%;
  }
}

@media screen and (max-width: 1283px) {
  section.six .formBlock {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  section.six .rigthForm {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .header_texts .header_title {
    width: 100%;
  }

  .rightSlide{
    display: none;
  }
  .menu {
    background: #ffffff !important;
    -webkit-box-shadow: 0px 4px 28px 0px #00000026 !important;
    box-shadow: 0px 4px 28px 0px #00000026 !important;
  }

  .menu_navbar .logo .whitelogo {
    display: none !important;
  }

  .menu_navbar .logo .bluelogo {
    display: block !important;
  }

  .menu_navbar .menu_btn_bars {
    display: block;
  }

  .menu_navbar .menu_ul {
    position: absolute;
    top: 60px;
    left: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transform: translateY(-110%);
    -ms-transform: translateY(-110%);
    transform: translateY(-110%);
    z-index: -1;
    width: 100%;
    background: #F4F4F4;
    height: 104vh;
  }

  .menu_navbar .menu_ul .main_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .menu_navbar .menu_ul .main_menu .menu_li a {
    font-size: 18px;
    font-weight: 700;
    color: #293D62 !important;
  }

  .menu_navbar .headerPhoneBlock .whitephone {
    display: none !important;
  }

  .menu_navbar .headerPhoneBlock .bluephone {
    display: block !important;
  }

  .menu_navbar .headerPhoneBlock p {
    color: #293D62 !important;
  }

  main .reasonItem {
    margin-bottom: 20px;
  }

  section.one {
    padding: 100px 0 100px 0;
  }

  section.one .rightOne {
    display: none;
  }

  section.four .buttonFour {
    margin-top: 28px;
  }

  footer .footerMain .footerRight {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  footer .footerMain .footerRight .footerAddress {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 991px) {
  section.five .levelsBlock .levelItem {
    width: 100%;
    height: 146px;
    margin-right: 0px;
  }

  footer .footerMain .footerRight {
    display: block;
  }

  footer .footerMain .footerRight .footerAddress {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .btnLink {
    font-size: 14px;
    line-height: 120%;
    padding-top: 10px;
    padding-bottom: 12px;
  }

  .reverseBtnLink {
    font-size: 14px;
    line-height: 120%;
    padding-top: 10px;
    padding-bottom: 12px;
  }

  .header_texts {
    height: 100vh;
  }

  .header_texts .headerTextsBlock {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header_texts .header_title {
    text-align: center;
    font-size: 36px;
    margin-top: 22px;
    line-height: 140%;
  }

  .header_texts .header_text {
    width: 100%;
    margin-bottom: 33px;
    text-align: center;
  }

  .menu{
    padding: 0;
  }

  .menu_navbar {
    padding: 8px 0 9px 0;
  }

  .menu_navbar .logo img {
    width: 100px;
  }

  .menu_navbar .menu_ul .main_menu .menu_li {
    padding: 11px 0;
    margin-right: 0px;
  }

  .menu_navbar .headerPhoneBlock {
    width: 150px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .menu_navbar .headerPhoneBlock img {
    width: 15px;
    margin-right: 5px;
  }

  .menu_navbar .headerPhoneBlock p {
    font-size: 12px;
  }

  .mainTitle {
    font-size: 20px;
    line-height: 120%;
    text-align: center;
  }

  main {
    padding: 42px 0;
  }

  section.one {
    padding: 40px 0 40px 0;
  }

  section.one .leftOne .swiper-slide {
    padding: 40px 0;
  }

  section.one .leftOne .numberSlide {
    font-size: 68px;
  }

  section.one .leftOne .slideTitle {
    font-size: 19px;
    line-height: 120%;
    text-align: center;
    font-weight: bold;
  }

  section.one .leftOne .pluses {
    margin-top: 20px;
  }

  section.one .leftOne .pluses .plusItem p {
    font-size: 14px;
    line-height: 120%;
  }

  section.one .leftOne .minuses .minusItem p {
    font-size: 14px;
    line-height: 120%;
  }

  section.one .leftOne .assetsSlider .navigation a {
    font-size: 16px;
    line-height: 120%;
  }

  section.one .leftOne .assetsSlider .navigation .buttonsNav div {
    width: 30px;
    height: 30px;
  }

  section.one .leftOne .assetsSlider .navigation .buttonsNav div img {
    width: 18px;
  }

  section.one .leftOne .assetsSlider .addressPages {
    padding: 10px 0;
    margin-top: 10px;
  }

  section.one .leftOne .assetsSlider .addressPages .swiper-pagination {
    font-size: 14px;
    line-height: 120%;
  }

  section.one .leftOne .assetsSlider .addressPages .swiper-pagination .swiper-pagination-current {
    font-size: 14px;
    line-height: 120%;
  }

  section.one .leftOne .assetsSlider .addressPages .append-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  section.one .leftOne .assetsSlider .addressPages .append-buttons a {
    padding: 5px;
    line-height: 120%;
    margin-bottom: 5px;
  }

  section.two {
    padding: 40px 0;
  }

  section.two .mainTitle {
    margin-bottom: 40px;
  }

  section.two .serviceBlock {
    margin-bottom: 35px;
  }

  section.two .serviceBlock .serviceItem {
    padding: 19px 41px 20px 36px;
  }

  section.two .serviceBlock .serviceItem img {
    width: 100% !important;
    height: 100% !important;
  }

  section.two .serviceBlock .serviceItem .serviceTitle {
    margin: 10px 0 21px 0;
    font-size: 20px;
    text-align: center;
  }

  section.two .serviceBlock .serviceItem p {
    font-size: 14px;
  }

  section.three {
    padding: 42px 0 48px 0;
  }

  section.three .addBlock {
    margin-bottom: 45px;
  }

  section.three .mainTitle {
    margin-bottom: 45px;
  }

  section.three .addItem {
    padding: 0 20px 30px 20px;
  }

  section.three .addItem img {
    margin: 15px 0;
  }

  section.three .addItem .addTitle {
    text-align: center;
    font-size: 20px;
    line-height: 120%;
  }

  section.four {
    padding: 40px 0 49px 0;
  }

  section.four .buttonFour {
    margin: 0;
  }

  section.five {
    padding: 0 0 45px 0;
  }

  section.five .mainTitle {
    margin-bottom: 34px;
  }

  section.five .levelsBlock .levelItem .bigLevelNumber {
    font-size: 44.1818px;
    line-height: 120%;
    top: 19px;
  }

  section.five .levelsBlock .levelItem p {
    font-size: 14px;
  }

  section.six {
    padding: 0 0 42px 0;
  }

  section.six .leftForm {
    width: 100%;
  }

  section.six .mainTitle {
    margin-bottom: 35px;
  }

  section.six form {
    padding: 51px 57px 43px 57px;
  }

  section.six form .formTitle {
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 30px;
  }

  section.six form .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  section.six form .inputs input {
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 120%;
  }

  section.six form textarea {
    margin: 4px 0 12px 0;
    font-size: 14px;
    line-height: 120%;
  }

  section.six form .agreement input {
    width: 14px;
    height: 14px;
  }

  section.six form .agreement p {
    font-size: 14px;
    line-height: 120%;
  }

  section.six form .formButton {
    margin-top: 33px;
  }

  .formWrapper .form form .formTitle {
    font-size: 20px;
    line-height: 120%;
  }

  .formWrapper .form form .agreement p {
    font-size: 14px;
    line-height: 120%;
  }

  .formWrapper .form form input {
    font-size: 14px;
    line-height: 120%;
  }

  .formWrapper .form form textarea {
    font-size: 14px;
    line-height: 120%;
  }

  .formWrapper .form form .success p {
    font-size: 14px;
    line-height: 120%;
  }

  .formWrapper .form form .formBtn button {
    font-size: 14px;
    line-height: 120%;
  }

  footer .footerMain {
    padding: 20px 0 0 0;
  }

  footer .footerMain .logo img {
    width: 100px;
  }

  footer .footerMain .footerRight .footerAddress p {
    font-size: 14px;
    line-height: 120%;
  }

  footer .footerMain .footerRight .footerContacts .phone p,
  footer .footerMain .footerRight .footerContacts .mail p {
    font-size: 14px;
    line-height: 120%;
  }

  footer .footerest {
    padding: 18px 0 16px 0;
  }

  footer .footerest .leftFooterest, footer .footerest .rightFooterest {
    line-height: 153%;
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  section.five .levelsBlock .levelItem .lvlIcon:after {
    display: none;
  }
}

@media screen and (max-width: 568px) {
  .header_texts .header_title {
    font-size: 26px;
    margin-top: 22px;
  }
}

@media screen and (max-width: 500px) {
  section.one .leftOne .assetsSlider .addressPages .append-buttons {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  section.six form {
    padding: 21px 27px 23px 27px;
  }
}

@media screen and (max-width: 400px) {
  section.one .leftOne .assetsSlider .addressPages .swiper-pagination {
    width: 49px;
  }
}
